<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Create Among Us Style</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6503869472106217~4866095553</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need permission to download wallpaper to your library</string>
	<key>UIAppFonts</key>
	<array>
		<string>DancingScript-SemiBold.ttf</string>
		<string>Archivo_Regular.ttf</string>
		<string>DancingScript-VariableFont_wght.ttf</string>
		<string>IndieFlower-Regular.ttf</string>
		<string>ArchitectsDaughter-Regular.ttf</string>
		<string>Kalam-Bold.ttf</string>
		<string>BadScript-Regular.ttf</string>
		<string>Kalam-Light.ttf</string>
		<string>Cardo-Bold.ttf</string>
		<string>Kalam-Regular.ttf</string>
		<string>Cardo-Italic.ttf</string>
		<string>Lateef-Regular.ttf</string>
		<string>Cardo-Regular.ttf</string>
		<string>MarckScript-Regular.ttf</string>
		<string>Caveat-Bold.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Caveat-Regular.ttf</string>
		<string>NanumGothicCoding-Bold.ttf</string>
		<string>Damion-Regular.ttf</string>
		<string>NanumGothicCoding-Regular.ttf</string>
		<string>DancingScript-Bold.ttf</string>
		<string>NotoSansJP-Regular.otf</string>
		<string>DancingScript-Medium.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>DancingScript-Regular.ttf</string>
		<string>Roboto-Regular.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Home</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
